<h1>Dashboard#index</h1>

<% if logged_in? %>
  <p>
    Eingeloggt als: <%= current_user.email %>
    <%= link_to "Log out", logout_path, method: :delete %>
    <br/>
    <%= link_to 'Serverlist', controller: 'games' %>
    <br/>
    <%= link_to 'Userlist', controller: 'users' %>
    <br/>
  </p>
<% else %>
  <p>
    <%= link_to "Log in", login_path %>
  </p>
<% end %>
