<% provide(:title, "Log in") %>
<div style="text-align: center">
  <h1><%= t('session.login') %></h1>
</div>
<div style="text-align: center">
  <div style="text-align: left">
    <%= form_for(:session, url: login_path) do |f| %>

      <div>
        <%= f.label :email, class: 'form-control' %>
        <%= f.text_field :email, size: 16, class: 'form-control' %>
      </div>
      <div>
        <%= f.label :password, class: 'form-control'  %>
        <%= f.password_field :password, size: 16, class: 'form-control' %>
      </div>
      <%= f.submit t('session.login'), class: "btn" %>
    <% end %>
  </div>
</div>