<div class="content_header">
  <h2><%= @user.email %></h2>
</div>

<div class="content">

  <% if current_user == @user %>
    <div>
      <p>
        <strong><%= t('users.email') %></strong>
        <%= @user.email %>
      </p>
      <%= form_with scope: :user, method: :post, url: change_password_user_path, local: true do |form| %>
        <p>
          <strong><%= t('users.current_password') %></strong>
          <%= form.password_field :current_password %>
        </p>
        <p>
          <strong><%= t('users.password') %></strong>
          <%= form.password_field :password %>
        </p>
        <p>
          <strong><%= t('users.password_confirmation') %></strong>
          <%= form.password_field :password_confirmation %>
        </p>
        <%= form.submit t('users.change_password') %>
      <% end %>
    </div>
  <% end %>

  <table>
    <tr>
      <th>Title</th>
      <th>Gameserver</th>
      <% RIGHTS.each do |name, _| %>
      <th><%= name %></th>
      <% end %>
      <th>Speichern</th>
    </tr>

    <% @user.game_manager_assignments.each do |gm| %>
      <%= form_with scope: :game_manager_assignments, :method => :PUT, url: game_manager_assignment_path(gm.id), local: true do |form| %>
        <tr>
          <td><%= gm.game.title %></td>
          <td><%= gm.game.gametype.name %></td>
          <% RIGHTS.each do |name, _| %>
              <th><%= form.check_box name, {checked: gm.has_right?(name)} %></th>
          <% end %>
          <td><%= form.submit %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <%= form_with scope: :game_manager_assignments, url: game_manager_assignments_path, local: true do |form| %>
    <%= form.hidden_field(:user_id, :value => @user.id) %>
      <%= form.select(:game_id) do %>
      <% @games.each do |game| %>
        <%= content_tag(:option, game.title, value: game.id) %>
      <% end %>
    <% end %>
    <%= form.submit "Zu Gameserver hinzufügen" %>
  <% end %>
</div>