
<h1>Listing game servers</h1>

<table>
  <tr>
    <th><%= t('games.title')%></th>
    <th>Gameserver</th>
  </tr>

  <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.title, game_path(game) %></td>
        <td><%= game.gametype.name %></td>
        <td><%= link_to 'DELETE', game_path(game), method: :delete %></td>
      </tr>
  <% end %>
</table>


<% if policy(Game.new).create? %>
  <%= form_with scope: :game,  method: :get, url: new_game_path, local: true do |form| %>
      <%= submit_tag('New Server') %>
  <% end %>
<% end %>