<h1>Game Server</h1>


<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Gameserver:</strong>
  <%= @game.gameserver %>
</p>

<p>
  <strong>Output:</strong>
  <% @output.lines do |line| %>
    <br/><%= line %>
  <% end %>
</p>

<p>
  <strong>Aktuelles Log:</strong>
  <% @game.last_logs.lines do |line| %>
      <br/><%= line %>
  <% end %>
</p>

<p>
  <strong>Verfügbare Logs:</strong>
  <% @game.available_logs.each do |file| %>
    <br/>
      <%= link_to 'test', [@game, :gamelog]%>

      <%= File.basename(file) %>
  <% end %>
</p>


<%= form_with scope: :game, url: start_game_path, local: true do |form| %>
  <%= submit_tag("Start Server") %>
<% end %>

<%= form_with scope: :game, url: stop_game_path, local: true do |form| %>
    <%= submit_tag("Stop Server") %>
<% end %>