<div class="content_header">
  <h2>Game Server</h2>
</div>

<div class="content">
  <table>
    <tr>
      <th><%= t('games.online') %></th>
      <th><%= t('games.title') %></th>
      <th><%= t('games.server') %></th>
      <th><%= t('games.player_amount') %></th>
    </tr>
    <tr>
      <td>-</td>
      <td><%= @game.title %></td>
      <td><%= @game.gametype.name %></td>
      <td>0/0</td>
    </tr>
  </table>

  <div>
    <div>
      <div style="display: inline-block">
        <%= form_with scope: :game, url: start_game_path, local: true do |form| %>
          <%= submit_tag(t('command.types.start'), disabled: !policy(@game).start?, class: "cmd_btn") %>
        <% end %>
      </div>

      <div style="display: inline-block">
        <%= form_with scope: :game, url: stop_game_path, local: true do |form| %>
          <%= submit_tag(t('command.types.stop'), disabled: !policy(@game).stop?, class: "cmd_btn") %>
        <% end %>
      </div>

      <div style="display: inline-block">
        <%= form_with scope: :game, url: upgrade_game_path, local: true do |form| %>
          <%= submit_tag(t('command.types.upgrade'), disabled: !policy(@game).upgrade?, class: "cmd_btn") %>
        <% end %>
      </div>
    </div>
    <div>
      <div style="display: inline-block">
        <%= form_with scope: :game, url: start_game_path, local: true do |form| %>
          <%= submit_tag(t('command.types.settings'), disabled: true, class: "cmd_btn") %>
        <% end %>
      </div>

      <div style="display: inline-block">
        <%= form_with scope: :game, url: backup_game_path, local: true do |form| %>
          <%= submit_tag(t('command.types.backup'), disabled: !policy(@game).backup?, class: "cmd_btn") %>
        <% end %>
      </div>
    </div>
    <div>
      <div style="display: inline-block">
        <%= form_with scope: :game, url: start_game_path, local: true do |form| %>
          <%= submit_tag(t('command.types.console'), disabled: true, class: "cmd_btn") %>
        <% end %>
      </div>

      <div style="display: inline-block">
        <%= form_with scope: :game, url: upgrade_lgsm_game_path, local: true do |form| %>
          <%= submit_tag(t('command.types.upgrade_lgsm'), disabled: !policy(@game).upgrade_lgsm?, class: "cmd_btn") %>
        <% end %>
      </div>

      <div style="display: inline-block">
        <%= form_with scope: :game, url: start_game_path, local: true do |form| %>
          <%= submit_tag(t('command.types.delete'), disabled: !policy(@game).destroy?, class: "cmd_btn") %>
        <% end %>
      </div>
    </div>
  </div>

  <p>
    <strong>Letzte Befehle:</strong>
    <% @game.commands.limit(10).each do |cmd| %>
        <br/>
        <%= cmd.created_at %> <%= link_to cmd.worker, command_path(cmd) %>
    <% end %>
  </p>

  <% if policy(@game).edit_config_low? %>
  <p>
    <strong>Verfügbare Einstellungen:</strong>
    <% @game.configs.each do |conf| %>
        <br/>
        <%= link_to File.basename(conf.file), edit_game_gameconfig_path(@game, conf) %>
    <% end %>
  </p>
  <% end %>

  <% if policy(@game).logs? %>
  <p>
    <strong>Verfügbare Logs:</strong>
    <% @game.available_logs.each do |file| %>
      <br/>
        <%= link_to File.basename(file), game_gamelog_path(@game, File.basename(file)) %>
    <% end %>
  </p>
  <% end %>
</div>