<div class="content_header">
  <h2><%= @command.worker %></h2>
</div>

<div class="content">
  <p>
    <strong><%= t('command.executed_by', name: @command.user) %></strong>
  </p>

  <p>
    <strong><%= t('command.executed_at', date: l(@command.created_at.localtime)) %></strong>
  </p>

  <p>
    <strong><%= t('command.output') %></strong><br/>
    <div>
      <% linessplit(@command.output) do |line| %>
        <%= line %><br/>
      <% end %>
    </div>
  </p>
</div>